@model PHSach.Models.Inventory_Agency

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Inventory_Agency</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.deliver_quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deliver_quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.repay_quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.repay_quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Agency.Agency_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agency.Agency_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book.Book_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.Book_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
